:root{
    --first-color: #212121;
    --second-color: White;
    --third-color: #6C778E;
    --fourth-color: #C3C3C3;
    --fifth-color: #2EB897;
    --sixth-color: #2A84EE;
    --seventh-color:#11AE88;
}
@font-face {
    font-display: swap;
    font-family: "NTsomic";
    font-style: normal;
    src: url(C:/Users/wolfm/projects/fonts/NTSomic-Medium.ttf) format('ttf');
}

html {
    font-size: 62.5%;
  }  
body{
    font-family: 'NTsomic', sans-serif;
    background-color: var(--second-color);
}
.hero__title--green{
    color:var(--fifth-color)
}
.hero__title--blue{
    color:var(--sixth-color)
}
.visually-hidden{
    visibility: hidden;
}

.header__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1rem;
}

.hero__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1rem;
}
.hero__title{
    font-size: 2.8rem;
    font-weight: bolder;
    line-height: 115%;
    text-align: left;
    color: var(--first-color);
}
.hero__text{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 125%;
    text-align: left;
    color: var(--third-color);
}
/* .hero__marketplace--ozon{

}
.hero__marketplace--wb{

} */
.hero__feedback{
    background-image: linear-gradient(var(--seventh-color), var(--sixth-color),var(--fifth-color));
    border-radius: 10px;

}
.feedback__text{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 125%;
    text-align: left;
    color: var(--second-color);
}
.feedback__form{
    border-radius: 30px;
}
.feedback__label{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 125%;
    text-align: left;
    color: var(--fourth-color);
}
.feedback__button--submit{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
    display: flex;
    color: var(--second-color);
    border-radius: 30px;
    background: linear-gradient(var(--sixth-color),var(--seventh-color),var(--fifth-color));
    box-shadow: 0px 0px 30px 0px #50ABDC;
}
/* .hero__img{

} */
.features__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1rem;
}
.features__title{
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
}
.features__checkbox{
    display: block;
    border-radius: 10px;
    background-color: var(--fourth-color);  
}
.checkbox__subtitle{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 125%;
    text-align: left;
    color: var(--fifth-color)
}
.features__feedback{
    background-image: linear-gradient(var(--seventh-color), var(--sixth-color),var(--fifth-color));
    border-radius: 10px;
}
.feedback__title{
    font-size: 2.1rem;
    font-weight: bolder;
    line-height: 115%;
    text-align: left;
    color: var(--second-color)
}
.info__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1rem;
}
.info__title{
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
}
.info__text{
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: #707070;
}
/* .info__offer{

} */
.offer__item{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    border-radius: 10px;
    background: #EAF3FD;
}
/* .info__img{

} */
.about__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1rem;
}
.about__title{
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
}
/* .about__advantages{

} */
/* .advantages__item{

}
.advantage__img{

} */
.about__feedback{
    background-image: linear-gradient(var(--seventh-color), var(--sixth-color),var(--fifth-color));
    border-radius: 10px;
}
.subscribe__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1rem;
}
.subscribe__title{
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
}
.subscribe__list{
    text-decoration: none;
}
.list__month{
    text-decoration: none;
}
.month__subtitle{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 125%;
    text-align: center;
    color: var(--second-color);
    border-radius: 30px;
    background: var(--seventh-color);
}
.month__price{

}
.list__price{
    border-radius: 10px;
    background: #EAF3FD;
}
.price__subtitle{
    font-size: 2rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
}
.price__text--grey{
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--third-color);
}
.price__text--blue{
    font-size: 2.6rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--sixth-color);
}
.price__link--try{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 125%;
    text-align: center;
    text-decoration: none;
    color: var(--second-color);
    border-radius: 30px;
    background: linear-gradient(var(--seventh-color),var(--sixth-color))
}
.price__link--detail{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 125%;
    text-align: center;
    color: var(--first-color);
    text-decoration: none;
    border-radius: 30px;
}

