:root{
    --first-color: #212121;
    --second-color: White;
    --third-color: #6C778E;
    --fourth-color: #C3C3C3;
    --fifth-color: #2EB897;
    --sixth-color: #2A84EE;
    --seventh-color:#11AE88;
    --eighth-color: #EAF3FD;
    --ninth-color: #702A8A;
    --tenth-color: #1065FF;
}
@font-face {
    font-display: swap;
    font-family: "NTsomic";
    font-style: normal;
    src: url(C:/Users/wolfm/projects/intro-to-layout-mrilvf/NTSomic-Medium.ttf) format('ttf');
}
*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
  }  
body{
    font-family: 'NTsomic', sans-serif;
    background-color: var(--second-color);
}
.header__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 2rem 1rem 1.4rem 1rem;
}
.header__logo{
    text-decoration: none;
}
/* .logo__img{

} */
/* .header__menu{

} */
.menu__button{
    text-decoration: none;
}
.button__reg{
    fill: linear-gradient(91deg, #11AE88 5.69%, #2A84EE 169.72%), #FF010B;
}
/* .button__burger{

} */
.visually-hidden{
    visibility: hidden;
}
.hero__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1rem;
}
.hero__title{
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 115%;
    text-align: left;
    color: var(--first-color);
    max-width: 32rem;
    min-width: auto;
    padding: 2.6rem 0;
}
.hero__title--green{
    color:var(--fifth-color)
}
.hero__title--blue{
    color:var(--sixth-color)
}
.hero__text{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 125%;
    text-align: left;
    color: var(--third-color);
    max-width: 32rem;
    min-width: auto;
    margin-bottom: 4rem;
}
/* .hero__marketplaces{

}  */
.hero__feedback{
    background-image: linear-gradient(var(--seventh-color), var(--sixth-color),var(--fifth-color));
    border-radius: 10px;
    max-width: 28rem;
    padding: 3.5rem 2rem;
    margin-bottom: 4rem;
    position: relative;
    z-index: 0;
}
.feedback__background{
    position: absolute;
    z-index: -1;
    /* object-fit: contain; */

}
.feedback__text{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 125%;
    text-align: left;
    color: var(--second-color);
    max-width: 27.9rem;
    min-width: auto;
    margin-bottom: 3rem;
}
.feedback__form{
    max-width: 28rem;
}
.feedback__label{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 125%;
    color: var(--second-color);
}
.feedback__input{
    border-radius: 3rem;
    background-color: var(--second-color);
    max-width: 28rem;
    min-width: auto;
    height: 1.1rem;
    margin-bottom: 2rem;
    padding: 1.8rem 2.2rem 1.9rem 1.9rem;
}
.feedback__button--submit{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 125%;
    color: var(--second-color);
    border-radius: 3rem;
    background: linear-gradient(var(--sixth-color),var(--seventh-color),var(--fifth-color));
    box-shadow: 0rem 0rem 3rem 0rem #50ABDC;
    max-width: 28rem;
    min-width: auto;
    height: 4.5rem;
    padding: 1.6rem 5.8rem;
    
}
/* .hero__img{

} */
.numbers__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1rem;
}
.numbers__list{
    border-radius: 10px;
    list-style-type: none;
    background-color: var(--eighth-color);
    max-width: 28rem;
    min-width: auto;
    padding: 4rem 2rem;
    margin-bottom: 5.6rem;
}
/* .numbers__item{

} */
.numbers__accent{
    font-size: 5.6rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--sixth-color);
    max-width: 2.8rem;
    min-width: auto;
    margin-bottom: 1.7rem;
}
.numbers__text{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 125%;
    text-align: left;
    color: var(--third-color);
    max-width: 28rem;
    min-width: auto;
    margin-bottom: 4rem;
}
.features__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1rem;
}
.features__title{
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    max-width: 32rem;
    min-width: auto;
    padding: 2.6rem 0;
}
.features__analytics{
    list-style-type: none;
    margin-bottom: 5rem;
}
.analytics__item{
    border-radius: 10px;
    background-color: var(--eighth-color);
    max-width: 28rem;
    min-width: auto;
    height: 2.7rem;
    padding: 1.6rem 2rem 1.6rem 2rem;
    margin-bottom: 1rem;
}
.analytics__checkbox{
    position: relative;
    left: 95%;
}
.analytics__subtitle{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 125%;
    text-align: left;
    color: var(--fifth-color);
    max-width: 24.3rem;
}
.analytics__details{
    border-radius: 10px;
    background-color: #F6FAFF;
    max-width: 28rem;
    min-width: auto;
    padding: 2.7rem 2rem 4rem 2rem;
}
.details__subtitle{
    font-size: 1.6rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    max-width: 28rem;
    min-width: auto;
    margin-bottom: 2.6rem;
}
.details__tools{

}
.details__item{
    list-style-type: none;
}
/* .details__ellipse{

} */
.details__text{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--third-color);
    max-width: 25.7rem;
    min-width: auto;
    margin-bottom: 2rem;
}
.details__img{
    border-radius: 10px;
    margin-bottom: 3rem;
}
.details__button{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 125%;
    color: var(--second-color);
    border-radius: 3rem;
    background: linear-gradient(var(--sixth-color),var(--seventh-color),var(--fifth-color));
    max-width: 28rem;
    min-width: auto;
    height: 4.2rem;
    padding: 1.4rem;
}
.features__feedback{
    background-image: linear-gradient(var(--seventh-color), var(--sixth-color),var(--fifth-color));
    border-radius: 10px;
    max-width: 28rem;
    padding: 3.5rem 2rem 0rem 2rem;
    margin-bottom: 4rem;
    position: relative;
    z-index: 0;
}
.feedback__title{
    font-size: 2.1rem;
    font-weight: bolder;
    line-height: 115%;
    text-align: left;
    color: var(--second-color);
    max-width: 24.7rem;
    margin-bottom: 2.1rem;
}
.feedback__img-clock{
    position: relative;
    right: 6%;
}
.info__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1rem;
}
.info__title{
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    max-width: 32rem;
    min-width: auto;
    padding: 2.6rem 0rem 2.1rem 0rem;
}
.info__text{
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: #707070;
    max-width: 28.6rem;
    min-width: auto;
    margin-bottom: 3.1rem;
}
.info__offer{
    list-style-type: none;
    margin-bottom: 3rem;
}
.offer__item{
    border-radius: 10px;
    background-color: var(--eighth-color);
    max-width: 27.2rem;
    min-width: auto;
    padding: 2rem 2rem 2.8rem 2rem;
    margin-bottom: 1rem;
}
/* .offer__img{

} */
.offer__text{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    max-width: 25.1rem;
    min-width: auto;
}
.info__img{
    margin-bottom: 3rem;
}
.about__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1rem;
}
.about__title{
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    max-width: 32rem;
    min-width: auto;
    padding: 2.6rem 0;
}
.about__advantages{
    list-style-type: none;
    margin-bottom: 5rem;
}
.advantages__advantage{
    background-color: var(--eighth-color);
    border-radius: 10px;
    max-width: 28rem;
    min-width: auto;
    padding: 2rem 2.7rem 2rem 3.6rem;
    margin-bottom: 1rem;

}
/* .advantage__image{

} */
.advantage__title{
    font-size: 1.8rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    max-width: 24.5rem;
    min-width: auto;
    margin-bottom: 1.8rem;
}
.advantage__text{
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--third-color);
    max-width: 28rem;
    min-width: auto;
}
.about__feedback{
    background-image: linear-gradient(var(--seventh-color), var(--sixth-color),var(--fifth-color));
    border-radius: 10px;
    max-width: 28rem;
    padding: 3.5rem 2rem 0rem 2rem;
    margin-bottom: 3rem;
    position: relative;
    z-index: 0;
}
.feedback__img-gift{
    position: relative;
    right: 7%;
}
.subscribe__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1rem;
}
.subscribe__title{
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    max-width: 32rem;
    min-width: auto;
    padding: 2.6rem 0;
}
.subscribe__list{
    list-style-type: none;
}
/* .list__month{

} */
.month__subtitle{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 125%;
    text-align: center;
    color: var(--second-color);
    border-radius: 30px;
    background: var(--seventh-color);
    padding: 13px 28px;
    margin-bottom: 3rem;
    
}
.month__price{
    list-style-type: none;
}
.list__price{
    border-radius: 10px;
    background-color: var(--eighth-color);
    max-width: 32rem;
    min-width: auto;
    min-height: 23.7rem;
    padding: 3.1rem 2rem 3rem 2rem;
    margin-bottom: 1rem;
}
.list__price--pro{
    background-color: #E7F7F3;
}
.list__price--seller{
    background: linear-gradient(#FFF1D7, #FFB57F);
    padding: 3.1rem 2rem 0rem 2rem;
}
/* .price__sale{
    position: relative;
    left: 61.5%;
} */
.price__img{
    position: relative;
    right: 1%;
}
.price__subtitle{
    font-size: 2rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    max-width: 23.3rem;
    min-width: auto;
    margin-bottom: 2.2rem;
}
.price__text--grey{
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--third-color);
    max-width: 29rem;
    min-width: auto;
    margin-bottom: 1.3rem;
}
.price__text--blue{
    font-size: 2.6rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--sixth-color);
    max-width: 29rem;
    min-width: auto;
    margin-bottom: 3rem;
}
.price__link--try{
    display: block;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 125%;
    text-align: center;
    text-decoration: none;
    color: var(--second-color);
    border-radius: 30px;
    background: linear-gradient(var(--seventh-color),var(--sixth-color));
    padding: 1.5rem 8.7rem 1.5rem 8.7rem;
    margin-bottom: 1rem;
}
.price__link--detail{
    display: block;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 125%;
    text-align: center;
    color: var(--first-color);
    text-decoration: none;
    border-radius: 30px;
    border-width: 1px;
    border-color: #11AE88;
    border-style: solid;
    padding: 1.5rem 8.7rem 1.5rem 8.7rem;
    margin-bottom: 1rem;
}
.reviews__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1rem;
}
.reviews__title{
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    max-width: 32rem;
    min-width: auto;
    padding: 2.6rem 0;
}
.reviews__users{
    list-style-type: none;
}
.users__item{
    border-radius: 10px;
    background-color: var(--eighth-color);
    max-width: 28rem;
    min-width: auto;
    padding: 3.7rem 2rem 4rem 2rem;
    position: relative;
    z-index: 0;
}
.users__background{
    position: absolute;
    z-index: -1;
}
/* .item__blockquote{

} */
/* .users__blockquote{

} */
.blockquote__text{
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--third-color);
    max-width: 28rem;
    min-width: auto;
    margin-bottom: 3.9rem;
}
.blockquote__cite{
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    max-width: 2.8rem;
    min-width: auto;
}
.users__link{
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 125%;
  text-align: left;
  color: var(--fifth-color);
  max-width: 22.2rem;
  min-width: auto;
}
/* .users__img{

} */
.footer__wrapper{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 5rem 2rem;
    background-color: var(--eighth-color);
    margin-top: 6.5rem;
}
.footer__logo{
    text-decoration: none;
}
.title{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: #969EB1;
    margin: 1.4rem 0rem 3rem 0rem;
} 
.title--purple{
    color: var(--ninth-color);
} 
.title--blue{
    color: var(--tenth-color);
} 

.footer__social-services{
    list-style-type: none;
}
/* .social-services__item{

} */
.social-services__logo{
    text-decoration: none;
}
/* .logo__social{

} */
.footer__service{
    margin-right: 2rem;
}
.service__subtitle{
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    max-width: 12.8rem;
    min-width: auto;
    margin-bottom: 2.6rem;
}
/* .service__navigation{

} */
.navigation__button{
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--third-color);
    text-decoration: none;
    display: block;
    max-width: 15rem;
    min-width: auto;
    margin-bottom: 2.6rem;
}
.footer__clients{
    margin-bottom: 4rem;
}
.clients__subtitle{
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    max-width: 12.8rem;
    min-width: auto;
    margin-bottom: 2.6rem;
}
/* .clients__navigation{

} */
.footer__documentation{
    margin-bottom: 3.8rem;
}
.documentation__subtitle{
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--first-color);
    max-width: 20rem;
    min-width: auto;
    margin-bottom: 2.6rem;
}
/* .documentation__navigation{

} */
.footer__payment{
    list-style-type: none;
}
.payment__cards{
    margin-bottom: 2rem;
}
.payment__card{
    text-decoration: none;
}
/* .payment__img{

} */
.footer__copyright{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--third-color);
    max-width: 32rem;
    min-width: auto;
    margin-top: 2rem;
}
.footer__text{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--third-color);
    max-width: 32rem;
    min-width: auto;
    margin-top: 2rem;
}
.footer__designer{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 125%;
    text-align: left;
    color: var(--third-color);
    max-width: 32rem;
    min-width: auto;
    margin-top: 2rem;
}
.footer__designer--green{
    color: var(--fifth-color);
}
